body{
background-color: #47b8f5;
font-family:Candal;
}
@font-face{
font-family: 'Candal';
src: url('../fonts/Candal-Regular.ttf');
}
.title{
  font-size:30px;
  color:black;
  text-align:center;
  font-family:Candal;
}
form{
  text-align:center;
}
input{
  border-radius: 50px;
  padding: 10px;
  font-size: 20;
  background-color:#3a95c6 ;
}