<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to Block</title>
</head>
<body>
<center class="title"> IMAGE TO BLOCK</center>
  <center><img src="{{url_for('static',filename='img/logo.png')}}"width=100></center>
  <form action="classify_upload" method="post" id="upload-form">
    <input type="file" name="imagefile" id="imagefile"/>
    <input type="submit" />
  </form>
</body>
</html>
